:root {
	--text-h: 44;
	--text-s: 21%;
	--text-l: 75%;
	--text: hsl(var(--text-h), var(--text-s), var(--text-l));
	--text-darken: hsl(var(--text-h), var(--text-s), calc(var(--text-l) * 0.5));

	--link: #fff7e2;

	--font-size: 16px;
	--avatar-size: calc(var(--font-size) * 4);
	--avatar-border-size: calc(var(--avatar-size) / 64);
	--avatar-shadow-size: calc(var(--avatar-size) / 128);
	--link-size: calc(var(--avatar-size) / 4);
	--link-glow-size: calc(var(--link-size) / 10);
	--gap: calc(var(--avatar-size) / 2);
}

@media (min-width: 720px) {
	:root {
		--avatar-size: calc(var(--font-size) * 8);
	}
}

html, body {
	background: #242320;
	color: var(--text);
	font-family: 'Iosevka','OCR A','Consolas',monospace; /* TODO: Additional nice fallback fonts. */
	font-size: var(--font-size);
	margin: 0;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper {
	margin: var(--font-size) 0;
}

header {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

#avatar {
	width: var(--avatar-size);
	height: var(--avatar-size);
	overflow: hidden;
	border: var(--avatar-border-size) solid transparent;
	border-radius: 32% 8%;
	box-shadow: 0 0 0 var(--avatar-shadow-size) var(--text-darken);
}

#avatar img {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: calc(var(--avatar-size) / 2);
	margin: 0;
}

#links {
	font-size: var(--link-size);
	list-style: none;
	margin: 0;
	padding: 0;
}

#links li {
	margin: var(--link-size) 0;
}

#links a {
	display: flex;
	align-items: center;
	gap: calc(var(--gap) / 2);
	margin-left: calc(var(--avatar-size) + 2 * var(--avatar-border-size) + 2 * var(--avatar-shadow-size) + var(--gap));
}

#links img {
	width: calc(var(--gap) / 1.5);
	height: calc(var(--gap) / 1.5);
}

a {
	color: var(--link);
	opacity: 0.7;
	text-decoration: none;
	text-shadow: 0 0 var(--link-glow-size) rgba(255, 255, 255, 0);
	transition: text-shadow 0.5s, opacity 0.5s;
}

a:hover {
	opacity: 1;
	text-shadow: 0 0 var(--link-glow-size) rgba(255,255,255, 1);
}

.darken {
	color: var(--text-darken);
}
